// Variables
@import "variables";
@import "~bootstrap/scss/bootstrap"; // Bootstrap
@import "~tributejs/dist/tribute.css"; // Tribute
@import "floating-labels";
@import "./form";

a {
    text-decoration: none;
}

.rm-shadow {
    box-shadow: none !important;
}

.btn-primary {
    color: white;
    background-color: $primary;
    &:hover, &:active, &:focus {
        background-color: #6f68ee;
    }
}

.btn-blurple {
    color: white;
    background-color: #7289da;
    &:hover, &:active, &:focus {
        background-color: #657ac3;
        color: white;
    }
}

.btn-telegram {
    color: white;
    background-color: #32afed;
    &:hover, &:active, &:focus {
        background-color: #1fa2e3;
        color: white;
    }
}

.text-gold {
    color: $yellow-600;
}

.text-reputation {
    color: black;
}

.score {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    line-height: 1px;

    & > [class^="heroicon"] {
        margin-right: 2px;
    }
}

.navbar {
    .bg-secondary {
        background-color: $gray-700 !important;
    }
     ::placeholder {
        color: white;
        opacity: 1;
    }
}

.sponsor-icon {
    height: 17px;
    width: 17px;
    vertical-align: sub;
}

.favicon {
    height: 16px;
    width: 16px;
    vertical-align: sub;
}

.avatar-15 {
    height: 15px !important;
    width: auto !important;
}

.avatar-20 {
    height: 20px !important;
    width: 20px !important;
}

.avatar-30 {
    height: 30px !important;
    width: 30px !important;
}

.avatar-40 {
    height: 40px !important;
    width: 40px !important;
}

.avatar-50 {
    height: 50px !important;
    width: 50px !important;
}

.avatar-100 {
    height: 100px !important;
    width: 100px !important;
}

.avatar-120 {
    height: 120px !important;
    width: 120px !important;
    border: 2px solid $gray-400;
}

.btn-task {
    font-size: 12px;
    padding: 1px 8px;
    box-shadow: none !important;
}

.btn-danger {
    color: white;
    &:hover, &:focus, &:disabled {
        color: white;
    }
}

.btn-outline-danger,
.btn-outline-success,
.btn-outline-primary,
.btn-outline-info {
    &:hover, &:focus {
        color: white;

        & > [class*='text-'] {
            color: inherit !important;
        }
    }
}

// Remove Bootstrap Glow on Input and Button
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none !important;
}

.fa-link {
    color: $primary;
}

.list-group-item {
    padding: 0.4rem 1rem;
}

.form-check-input {
    &:disabled {
        opacity: initial;
    }
}

.task-checkbox {
    width: 1.1rem;
    height: 1.1rem;
    background-position: inherit;
}

.task-font {
    font-size: 1rem;
    font-weight: 500;
    color: $gray-800;
    img {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $gray-300;
    }
}

.task-icon {
    height: 18px;
    width: 18px;
    margin-bottom: 3px;
}

.body-font {
    color: $gray-700;
    img {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $gray-300;
    }
}

.admin-bar {
    font-size: 13px;
    .fa,
    .fab {
        font-size: 12px;
    }
}

.welcome-card {
    background: linear-gradient(90deg, $primary 0%, #6a63ecba 90%);
    background-size: contain;
}

.avatar-stack {
    .avatar {
        height: 30px;
        margin-right: -18px;
        border: 2px solid white;
        transition: all 0.2s ease;
    }
    .praise-avatar {
        height: 15px;
        width: 15px;
        margin-right: -10px;
        border: 1px solid white;
        vertical-align: sub;
    }
    .replies-avatar {
        height: 18px;
        width: 18px;
        margin-right: -10px;
        border: 1px solid white;
    }
    span {
        margin-left: 15px !important;
    }
    &:hover .avatar {
        margin-right: -3px !important;
    }
    &:hover span {
        margin-left: 5px !important;
    }
}

.spinner-border-mini {
    height: 13px;
    width: 13px;
    margin-bottom: 1px;
    border-width: 0.2em;
}

.dropdown-item:active {
    color: white !important;

    & > [class^='heroicon-'],
    & > [class^='heroicon'] {
        color: inherit !important;
    }
}

.bg-patron {
    background-color: $yellow-100 !important;
}

.recent-questions {
    border-radius: 15px !important;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: $gray-600;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.sticky-footer {
    position: sticky;
    top: 25px;
}

.pagination {
    justify-content: center;
}

.page-link {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.tribute-container {
    background-color: white;
    border: 1px solid $gray-400;
    border-radius: 6px;
    margin-top: 10px;
    max-width: auto;
}

.tribute-container ul {
    background: $gray-200;
}

.tribute-container li {
    cursor: pointer;
    margin-bottom: 1px;
    background: white;
    padding: 5px 15px;
    &.highlight {
        background: $gray-200;
    }
}

.vertical-line {
    border-left: 3px solid lightgray;
    height: 40px;
}

// Curvy Style
.card,
.form-control,
.input-group-text,
.form-file-label,
.btn,
.dropdown-menu,
.navbar-toggler,
.alert,
.tooltip-inner,
.popover {
    border-radius: 6px;
}

.popover-body {
    padding: 0;
}

.rounded {
    border-radius: 6px !important;
}

.card-header:first-child,
.popover-header {
    border-radius: 6px 6px 0 0;
}

.badge {
    border-radius: 15px;
}

.list-group-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.list-group-item:last-child,
.accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.gallery {
    display: flex;
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.gallery>div:not(:last-child) {
    margin-right: 1%;
}

.tippy-box {
    border-radius: 6px !important;
}

.btn-social {
    &.btn-google {
        color: $google;
        border-color: $google;
    }
    &.btn-twitter {
        color: $twitter;
        border-color: $twitter;
    }
    &.btn-github {
        color: $github;
        border-color: $github;
    }
    &.btn-gitlab {
        color: $gitlab;
        border-color: $gitlab;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.tippy-status {
    margin: -5px -9px 0px -9px;
}

.brand-icon {
    margin-right: 3px;
    margin-bottom: 3px;
    height: 13px;
    width: 13px;
}

.heroicon-notification {
    height: 23px;
    width: 23px;
}

.heroicon-small {
    height: 15px;
    width: 15px;
    vertical-align: text-bottom;
    margin-right: 2px;
}

.heroicon {
    height: 17px;
    width: 17px;
    vertical-align: sub;
    margin-right: 2px;
}

.heroicon-1x {
    height: 18px;
    width: 18px;
    vertical-align: sub;
    margin-right: 3px;
}

.heroicon-2x {
    height: 20px;
    width: 20px;
    vertical-align: sub;
    margin-right: 3px;
}

.heroicon-4x {
    height: 60px;
    width: 60px;
    vertical-align: sub;
}

.taskord-spinner {
    border: 3px solid $gray-500;
    border-right-color: black;
}

.badge-font {
    font-size: 11px;
    padding: 2px;
}

.vertical-separator {
    margin-right: 8px;
    margin-left: 2px;
    border-left: 1px solid grey;
}

.explore-nav {
    margin-top: -23px;
}

.explore-user-card {
    margin-top: -40px;
}
